.coupon-card {
  position: relative;
  display: flex;
  margin: 20px auto;
  padding: 20px 0 20px 20px;
  width: 680px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 20px;
  overflow: hidden;
  .top-tag {
    position: absolute;
    top: 0;
    left: 6px;
    width: 46px;
    height: 54px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    z-index: 6;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    .tag-prefix,.tag-index {
      height: 24px;
      line-height: 24px;
    }
  }
  .prod-img {
    width: 180px;
    height: 180px;
    background:#eee 50% 50% no-repeat;
    background-size: contain;
  }
  .prod-info {
    flex: 1;
    margin-left: 20px;
    padding-right: 10px;
    .prod-title-wrap {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 20px;
      max-height: 2.5em;
      line-height: 1.3;
      font-size: 26px;
      color: #323232;
      .prod-title {
        line-height: 1.2;
        word-break: break-all;
      }
    }
    .prod-price-wrap {
      padding-top: 3px;
      margin-top: 40px;
      color: #999;
      font-size: 24px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      .prod-price-prefix {
        margin-right: 5px;
      }
      .price-nowprice {
        text-decoration: line-through;
      }
      .prod-salecount {
        margin-left: 10px;
        &:before {
          content: '已售';
          margin-right: 2px;
        }
        &:after {
          content: '件';
          margin-left: 2px;
        }
      }
    }
    .prod-afterprice-wrap {
      .prod-afterprice {
        font-size: 24px;
        color: #fb3434;
      }
    }
  }
  .prod-quancontainer {
    width: 200px;
    padding: 10px 20px 0 25px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    .prod-quanamount {
      font-size: 36px;
      font-weight: 700;
      color: #fb3434;
    }
    .prod-quansuffix {
      margin-bottom: 20px;
      font-size: 20px;
      color: #999;
    }
    .prod-quandrawbtn {
      padding: 10px 20px;
      color: #fff;
      font-size: 24px;
      border-radius: 100px;
      background-image: linear-gradient(to right top,#F60,#FB3434);
    }
  }
}
